<div class="container-lg mt-md-5 text-center">
    <% if (locals.error) { %>
     <h1><%= error.statusCode %> - <%= error.message %></h1>
     <a href="javascript:history.back()">Go back</a>
    <% } %>
</div>