<div class="container-lg mt-md-5">
  <h1 class="mb-3">Login</h1>
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="emailAddress" class="form-label">Email</label>
      <input type="text" name="emailAddress" id="emailAddress" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary d-flex gap-2">
      <img src="/img/log-in.svg" alt="" class="filter-white" style="width: 1.25rem" />
      Login
    </button>
  </form>
</div>
